.titulo-principal {
  padding-left: 20px;
}


.principal {
  background-color: #CCCC;
}


p {
  text-align: center;
}


em strong {
  color: #FF0000;
}

.beneficios {
  background-color: #FFFFFF;
  padding: 20px;
}

.item {
  font-style: italic;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;

}

.texto-centralizado {
  text-align: center;
}