.titulo-principal {
  padding-left: 20px;
}


.principal {
  background-color: #CCCC;
}


#banner {
  width: 100%;
}

p {
  text-align: center;
}


em strong {
  color: #FF0000;
}

#missão {
  font-size: 20px;
}

.beneficios {
  background-color: #FFFFFF;
  padding: 20px;
}

.item {
  font-style: italic;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;

}

.imagem-beneficios {
  width: 50%;
}

.texto-centralizado {
  text-align: center;
}

