.principal{
  background-color: #CCCC;
}

h1{
  text-align: center;
}

p{
  text-align: center;
}


em strong{
  color: #FF0000;
}

.beneficios{
  background-color: #FFFFFF;
  padding: 20px;
}

h2{
  text-align: center;
}

.item{
  font-style: italic;
}

ul{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  
}